---
---

<div>
  <p>
    Here is a brief introduction to each section of my blog:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Life.</strong>
      I write about my life, my thoughts, my feelings, and my experiences. 
    </li>
    <li>
      <strong>Learn.</strong>
      I will share my learning notes on various topics, including but not limited to data science, machine learning, project management, and software development.
    </li>
    <li>
      <strong>Projects.</strong> I will share my projects that I have done in the past and the ones that I am currently working on.
    </li>
  </ul>
</div>
<div>
<p class="mt-4">
    In addition to my blog, you can also find me on <a href="https://github.com/imbensonchiu">GitHub</a>, <a href="https://www.linkedin.com/in/imbensonchiu/">LinkedIn</a>, and <a href="https://www.instagram.com/benson_study_life">Instagram</a>. I'm thrilled to share the current projects I'm working on, my knowledge, as well as my experiences and thoughts with you on this blog, and I hope you enjoy reading it!
</p>
</div>
